.product-details-block {
    -webkit-box-shadow: 0 0 0 1px #d9d9d9;
    -moz-box-shadow: 0 0 0 1px #d9d9d9;
    box-shadow: 0 0 1px 1px #d9d9d9;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 15px 10px 15px;
    background: white;
}

.product-details-block h1,
.product-details-block h2 {
    margin: 0 0 10px 0;
    font-size: 14px;
    text-transform: none;
    font-family: RalewayBold;
}

.product-details-block h2 {
    font-size: 13px;
}

.product-details-block p {
    font-size: 12px;
}

.product-details-block .price {
    color: #ef7d7d;
    font-size: 30px;
    font-weight: bold;
}

.product-details-block hr {
    margin: 10px 0;
}

.product-details-block .btn {
    padding: 3px 10px;
    margin-bottom: 10px;
    width: 100%;
}

.product-details-block .user-picture img {
    width: 70px;
}

.view-picture-block {
    padding: 20px 40px;
}

.view-picture-block img {
    width: 100%;
}

.product-details-block .social-buttons li a {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    font-family: FontAwesome;
    text-decoration: none;
    color: white;
    text-align: center;
}

.product-details-block .social-buttons li a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 10px;
    height: 10px;
    display: inline-block;
}

.product-details-block .social-buttons li a.facebook {
    background-color: #3b5999;
}

.product-details-block .social-buttons li a.facebook:after {
    content: '\f09a';
}

.product-details-block .social-buttons li a.twitter:after {
    content: '\f099';
}

.product-details-block .social-buttons li a.google:after {
    content: '\f0d5';
}

.product-details-block .social-buttons li a.twitter {
    background-color: #55acee;
}

.product-details-block .social-buttons li a.google {
    background-color: #dd4b39;
}

.product-details-block ul.social-buttons {
    margin: 0;
}

.product-details-block ul.social-buttons li {
    margin: 0 5px;
}

.view-picture-block .bx-wrapper {
    height: 400px;
    overflow: hidden;
}

.view-picture-block .bx-wrapper img,
.view-picture-block .bx-wrapper .bx-viewport,
.view-picture-block .bx-wrapper .main-image-slider,
.view-picture-block .bx-wrapper .main-image-slider li {
    height: 100% !important;
}

.view-picture-block .bx-wrapper img {
    width: auto;
    margin: auto;
}

#pictures-pager a {
    height: 100px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #d9d9d9;
}

#pictures-pager a img {
    height: 100%;
    width: auto;
    margin: auto;
}

.bx-wrapper {
    margin-bottom: 15px;
    position: relative;
    margin-bottom: 60px;
    padding: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -moz-box-shadow: 0 0 5px #ccc;
     -webkit-box-shadow: none;
     box-shadow: none;
     border: none;
     background: #fff;
}

#pictures-pager .slick-arrow:before {
    color: black;
}