/**
*   Common styles
**/

.ads-list-block.grid,
.ads-list-block.list {
    margin-top: 20px;
}

.ads-list-block.grid .ad-block-item .captcha > * ,
.ads-list-block.list .ad-block-item .captcha > * {
    margin-bottom: 5px;
    font-size: 12px;
}

.ads-list-block.grid .ad-block-item .captcha .item-price .price ,
.ads-list-block.list .ad-block-item .captcha .item-price .price {
    color: #ef7d7d;
    font-size: 20px;
}

/**
*   Mod List style
**/

.ads-list-block.list .ad-block-item {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 1px 5px 0px #d9d9d9;
    -moz-box-shadow: 0px 1px 5px 0px #d9d9d9;
    box-shadow: 0px 1px 5px 0px #d9d9d9;
}

.ads-list-block.list .ad-block-item .captcha {
    padding: 10px;
    vertical-align: top;
    font-size: 12px;
}

.ads-list-block.list .ad-block-item .action-btn {
    padding: 10px;
    vertical-align: bottom;
}

.ads-list-block.list .ad-block-item .action-btn a {
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase;
    width: 100%;
    min-width: inherit;
}

.ads-list-block.list .ad-block-item .picture,
.ads-list-block.list .ad-block-item .captcha,
.ads-list-block.list .ad-block-item .action-btn {
    display: table-cell;
}

.ads-list-block.list .ad-block-item .picture {
    position: relative;
    width: 250px;
    overflow: hidden;
}

.ads-list-block.list .ad-block-item .picture img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
}

/**
*   Mod Grid style
**/

.ads-list-block.grid .ad-block-item {
    margin-bottom: 15px;
}

.ads-list-block.grid .ad-block-wrapper {
    border: 1px solid #e7e7e7;
    border-top: none;
    padding: 0 0 15px 0;
    text-align: center;
}

.ads-list-block.grid .ad-block-item .picture,
.ads-list-block.grid .ad-block-item .captcha,
.ads-list-block.grid .ad-block-item .action-btn {
    margin-bottom: 5px;
}

.ads-list-block.grid .ad-block-item .picture {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    height: 180px;
}

.ads-list-block.grid .ad-block-item .picture img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50%;
    right: -50%;
    margin: auto;
    height: 100%;
    width: auto;
}

.ads-list-block.grid .ad-block-item .captcha {
    padding: 0 10px;
}

.ads-list-block.grid .ad-block-item .captcha > * {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ads-list-block.grid .ad-block-item .captcha > .condition-block {
    display: none;
}

.ads-list-block.grid .ad-block-item .action-btn a {
    padding: 2px;
    min-width: 150px;
    font-size: 13px;
}

#grid-mod-btn,
#list-mod-btn {
    color: #333;
    margin: 0 5px;
}

#grid-mod-btn.active,
#grid-mod-btn:active,
#grid-mod-btn:hover,
#grid-mod-btn:focus,
#list-mod-btn.active,
#list-mod-btn:active,
#list-mod-btn:hover,
#list-mod-btn:focus{
    color: #ef7d7d;
}