/*!
 * Start Bootstrap - Agency v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

@font-face {
    font-family: RalewayLight;
    src: url("../font/raleway/Raleway-ExtraLight.ttf");
}

@font-face {
    font-family: Raleway;
    src: url("../font/raleway/Raleway-Light.ttf");
}

@font-face {
    font-family: RalewayBold;
    src: url("../font/raleway/Raleway-SemiBold.ttf");
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

body {
    overflow-x: hidden;
    font-family: "Raleway", Helvetica, sans-serif;
    background: #f5f5f5;
}

.text-muted {
    color: #777777;
}

.text-primary {
    color: #fed136;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    color: #ef7d7d;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
}

.breadcrumb {
    background-color: transparent;
}

.input-group .form-control {
    height: 40px;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #eeeeee;
}

.bg-darkest-gray {
    background-color: #222222;
}

.btn-primary {
    color: white;
    background-color: #fed136;
    border-color: #fed136;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: white;
    background-color: #fec503;
    border-color: #f6bf01;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #fed136;
    border-color: #fed136;
}

.btn-primary .badge {
    color: #fed136;
    background-color: white;
}

.btn-xl {
    color: white;
    background-color: #fed136;
    border-color: #fed136;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: white;
    background-color: #fec503;
    border-color: #f6bf01;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #fed136;
    border-color: #fed136;
}

.btn-xl .badge {
    color: #fed136;
    background-color: white;
}

.badge {
    display: inline-block;
    width: 21px;
    height: 20px;
    padding: 2px 0;
    line-height: initial;
    border-radius: 100%;
}

.badge.red {
    background-color: #d55c64;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
     color: #ef7d7d;
    background-color: transparent;
}

.navbar-nav>li>.dropdown-menu {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-menu>li>a {
    padding: 3px 5px;
    font-size: 12px;
}

.navbar-custom {
    background-color: #222222;
    border-color: transparent;
}

.navbar-custom .navbar-brand {
    color: #fed136;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: #fec503;
}

.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}

.navbar-custom .navbar-toggle {
    background-color: #ef7d7d;
    border-color: #ef7d7d;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-custom .nav > li > a {
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.navbar-custom:not(.index):not(.affix) .nav > li > a{
    color: #333;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #ef7d7d;
    outline: none;
}

.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #fed136;
}

.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    background-color: #fec503;
}

.navbar-custom:not(.index){
    background-color: white;
}

.navbar-custom:not(.index):not(.affix){
    position: relative;
    -webkit-box-shadow: 0 0 12px 2px #d9d9d9;
    -moz-box-shadow: 0 0 12px 2px #d9d9d9;
    box-shadow: 0 0 12px 2px #d9d9d9;
}

@media (min-width: 768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 5px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }

    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .navbar-custom .navbar-nav > .active > a {
        border-radius: 3px;
    }
}

@media (min-width: 768px) {
    .navbar-custom.affix {
        background-color: #222222;
        padding: 10px 0;
    }

    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar-brand {
    padding: 5px;
    max-width: 150px;
    margin-left: 0 !important;
}

.navbar-brand img {
    display: inline-block;
    width: 100%;
}

header {
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text p {
    margin: 10px 0;
}

header .intro-text .intro-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    header .intro-text {
        padding: 150px 0;
    }

    header .intro-text .intro-heading {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
    }
}

header .intro-text img {
    max-width: 600px;
    width: 100%;
}

header .intro-text a {
    margin: 0 10px 10px 0;
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    font-size: 25px;
    font-family: RalewayBold;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading {
    font-size: 16px;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
}

@media (min-width: 768px) {
    section {
        padding: 50px 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(254, 209, 54, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 25px;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-style: italic;
    font-size: 16px;
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left;
}

.timeline > li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #fed136;
    color: white;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center;
}

.timeline > li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body > p,
.timeline .timeline-body > ul {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline > li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline > li .timeline-panel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline > li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px;
    }

    .timeline > li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px;
    }
}

@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px;
    }

    .timeline > li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline > li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
    }
}

@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px;
    }

    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline > li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

.team-member {
    text-align: center;
    margin-bottom: 50px;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid white;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

aside.clients img {
    margin: 50px auto;
}

section#contact {
    background-color: #222222;
    background-image: url('../img/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: white;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact :-moz-placeholder {
    /* Firefox 18- */
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact :-ms-input-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact .text-danger {
    color: #e74c3c;
}

.pre-footer{
    padding: 40px;
    background: black;
    text-align: center;
}

.pre-footer .site-logo {
    margin-bottom: 10px;
}

.pre-footer .site-logo img {
    width: 150px;
}

.pre-footer label,
.pre-footer span {
    color: white;
    font-size: 12px;
}

footer {
    padding: 15px;
    text-align: center;
}

footer span.copyright {
    line-height: 40px;
    text-transform: uppercase;
    text-transform: none;
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    text-transform: uppercase;
    text-transform: none;
}

.footer-block span,
.footer-block a {
    font-size: 12px;
    color: black;
}

ul.social-buttons {
    display: inline-block;
    padding: 0;
}

ul.social-buttons li {
    margin: 0 10px;
    display: inline-block;
    list-style: none;
}

.pre-footer ul.social-buttons li a img {
    width: 40px;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

.portfolio-modal .modal-dialog {
    margin: 0;
    height: 100%;
    width: auto;
}

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-style: italic;
    font-size: 16px;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051;
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    z-index: 1052;
}

.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none;
}

::-moz-selection {
    text-shadow: none;
    background: #fed136;
}

::selection {
    text-shadow: none;
    background: #fed136;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: #fed136;
}

/* Btns styles */

.btn {
    border: 1px solid transparent;
    min-width: 200px;
    padding: 10px 12px;
}

.btn-white {
    padding: 10px 20px;
    border-color: white;
    color: white;
    background-color: transparent;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.btn-white:hover,
.btn-white:focus {
    background-color: white;
    color: black;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.btn-pink {
    padding: 10px 20px;
    border-color: #ef7d7d;
    color: white;
    background-color: #ef7d7d;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-pink:hover,
.btn-pink:focus {
    background-color: transparent;
    color: #ef7d7d;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-rounded {
    border-radius: 20px;
}

/* Btns styles */

.service-block {
    margin-bottom: 20px;
}

.service-block .service-icon {
    height: 70px;
}

.service-block .service-heading {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.service-block p {
    font-size: 13px;
}

.grey-section {
    background-color: #f5f3f4;
}

.section-header {
    margin-bottom: 50px;
}

#switshr-slogan-block {
    background-image: url('../img/switshr-generation-photo.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 100px 0;
    text-align: center;
    color: white;
}

.category-item {
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}

.category-item img {
    min-width: 100%;
}

.category-item label {
    position: absolute;
    left: 20px;
    bottom: 0px;
    font-weight: bold;
    font-family: ralewayBold;
    color: white;
    text-transform: uppercase;
}

.social-btns a {
    display: block;
    color: white;
    margin-bottom:15px;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.modal-dialog .social-btns a i {
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
}

.facebook-btn {
    background: #3b5999;
}

.google-btn {
    background: #de4b39;
}

#signin-modal .modal-dialog,
#signup-modal .modal-dialog {
    max-width: 350px;
}

#signin-modal .modal-dialog .modal-content,
#signup-modal .modal-dialog .modal-content {
    padding: 10px 15px;
}

.modal-dialog .modal-title {
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
    font-family: RalewayBold;
}

.input-group {
    margin-bottom: 10px;
}

.block-separator {
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
}

.block-separator span {
    line-height: 1em;
    font-size: 12px;
    width: 3em;
    height: 1em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    background: white;
    text-align: center;
    text-transform: uppercase;
}

.fill-width {
    width: 100%;
}
.top-menu .dropdown-menu {
    border-radius: 5px;
}


.top-menu .dropdown-menu li {
    padding: 5px 10px;
}

.top-menu .dropdown-menu > li > a i {
    margin-right: 5px;
}

.box-shadow {
    -webkit-box-shadow: 0px 1px 5px 0px #d9d9d9;
    -moz-box-shadow: 0px 1px 5px 0px #d9d9d9;
    box-shadow: 0px 1px 5px 0px #d9d9d9;
}

.filters-block {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.filters-block .filter-item .filter-title {
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
}

.filters-block .filter-elements {
    padding: 0 10px;
    margin-bottom: 10px;
}

.filters-block .filter-element {
    font-size: 12px;
}

.filters-block input[type=text],
.filters-block input[type=submit],
.filters-block select,
.filters-block textarea,
.filters-block button {
    width: 100%;
    min-width: inherit;
}

.filters-block .filter-element a {
    color: #333;
}

.filters-block .filter-element a:hover,
.filters-block .filter-element a:active,
.filters-block .filter-element a:focus {
    text-decoration: underline;
}

.filters-block .filter-item ul {
    padding: 0;
}

.filters-block .filter-item ul li {
    list-style: none;
}

.filters-block input[type=submit],
.filters-block button[type=submit] {
    padding: 5px;
}

#find-ads-pagination-bar {
    display: table;
    width: 100%;
    padding: 10px;
}

#find-ads-pagination-bar .pagination-item {
    display: table-cell;
}

#find-ads-pagination-bar .form-control {
    display: inline-block;
    width: auto;
}

.pagination .pagination-element {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
}

.pagination .pagination-element span {
    display: inline-block;
    line-height: 28px;
}

.white-bg {
    background: white;
}

.auth-form {
    max-width: 500px;
    background: white;
    padding: 20px;
    margin: 50px auto;
}